MSSQL_SERVER=localhost
MSSQL_DATABASE=oldemoreweabfd
MSSQL_USER=sa
MSSQL_PASSWORD=Start11!
PORT=3001
# Lokale SQLite der Buchungen (Standard: data/buchungen.sqlite)
# WM_BUCHUNG_DB=data/buchungen.sqlite
